.project {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;

  .img-container {
    position: relative;
    background: #0496ec;
    transition: all 0.3s linear;
  }

  .img {
    transition: all 0.3s linear;
  }
  .img-container:hover .img {
    opacity: 0.3;
  }

  .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 0.5rem 0.7rem;
    display: inline-block;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .link:hover {
    background: #ffffff;
    color: #0496ec;
    text-decoration: none;
  }
  .img-container:hover .link {
    opacity: 1;
  }

  .footer {
    background: #000000;
    padding: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: #0496ec;
      transition: all 0.3s linear;
    }
    a:hover {
      color: #ffffff;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.project:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .project {
    .footer {
      padding: 1rem 0.5rem;

      p,
      a {
        font-size: 12px;
      }
    }
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
