.about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #333;
  font-family: "Roboto Mono", monospace;
  padding-top: 10rem;

  img {
    margin: auto;
    min-height: 315px;
  }

  .info {
    background: #ccc;
    color: #333;
    padding: 1rem;
    border-left: 2px solid #0496ec;
  }

  svg {
    font-size: 3rem;
    color: #0496ec;
  }
  h3 {
    font-size: 1.4rem;
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .about {
    .info {
      border-left: 0;
      border-bottom: 2px solid #0496ec;
    }
  }
}
