.about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #333;
  font-family: "Lexend Deca", monospace;
  padding-top: 7rem;

  .image {
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    height: 315px;
  }

  .bio {
    display: grid;
    grid-template-columns: 315px auto;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .info {
    background: #ffffff;
    color: #333;
    padding: 1rem;
    border-left: 4px solid #0496ec;
    min-height: 315px;
    line-height: 32px;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 10rem;
    .image {
      height: auto;
    }
    .bio {
      grid-template-columns: 1fr;
      grid-gap: 0.5rem;
      gap: 0.5rem;
    }
    .info {
      border-left: 0;
      border-top: 10px solid #0496ec;
    }
  }
}
