.blog {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #333;
  font-family: "Roboto Mono", monospace;
  .row {
    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
