.blog {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
