.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  .row {
    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
