#index-page {
  background: url("../img/surf.jpg") no-repeat center right / cover;
  height: 100vh;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  overflow-y: hidden;
  overflow-x: hidden;

  .overlay {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .row {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .col {
      margin-left: auto;
      h3,
      h5 {
        font-size: 1.3rem;
      }
      p {
        text-align: center;
        font-size: 2rem;
        color: rgb(97, 236, 4);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #index-page {
    background-position: 33%;
    .row {
      .col {
        h1 {
          font-size: 2rem;
        }
        h3,
        h5 {
          font-size: 0.8rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
