.header {
  position: fixed;
  font-family: "Roboto Mono", monospace;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 1.5rem;
  z-index: 2;

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: 0;
  }

  span {
    color: rgb(97, 236, 4);
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .active-nav-item {
    color: rgb(97, 236, 4);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 0;
      text-transform: uppercase;
      margin-top: 1rem;

      li {
        list-style: none;
        margin-right: 1rem;
        letter-spacing: 2px;
        transition: all ease-in 200ms;

        &:hover {
          color: rgb(97, 236, 4);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    padding: 0;

    .nav ul {
      justify-content: center;

      li {
        margin-right: 0.5rem;
      }
    }
  }
}
