.header {
  position: absolute;
  font-family: "Lexend Deca", Tahoma, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  z-index: 2;
  background: #000;

  .brand {
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    letter-spacing: -2px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .active-nav-item {
    color: #0496ec;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-bottom: 0;
      text-transform: uppercase;
      margin-top: 1rem;

      li {
        list-style: none;
        transition: all ease-in 200ms;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        letter-spacing: 2px;
        font-size: 1rem;

        &:hover {
          color: #0496ec;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding-bottom: 5px;
    .nav {
      justify-content: center;
      margin-top: 5px;
      ul {
        justify-content: center;
      }
      .contact-link {
        margin-right: 1rem;
      }
    }
  }
}
