nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: #fff;
    transition: all ease-in 300ms;

    &:hover {
      color: rgb(97, 236, 4);
    }
  }

  .brand {
    display: flex;
    width: 100%;
    justify-content: baseline;
    align-items: center;

    h2 {
      margin: 0;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    margin-top: 1rem;

    li {
      list-style: none;
      margin-right: 1rem;
      letter-spacing: 2px;
    }
  }

  @media screen and (max-width: 768px) {
    .brand,
    ul {
      justify-content: center;
    }
    .brand {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: block;

    h2 {
      text-align: center;
    }
  }
}
