.course {
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  background: #ffffff;
}
.course:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.course h3 {
  font-size: 1rem;
}

.courses h4 {
  color: #ffffff;
  padding: 2rem 0;
  text-shadow: 3px 2px #333333a8;
  text-transform: uppercase;
  background-color: #0496ec;
  border-radius: 1rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.img-container {
  position: relative;
  background: #0496ec;
  transition: all 0.3s linear;
}
.img {
  transition: all 0.3s linear;
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}
.link:hover {
  background: #ffffff;
  color: #0496ec;
  text-decoration: none;
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem;
  text-align: left;
  background: #ffffff;
}
.footer h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.footer p {
  margin-bottom: 0;
  letter-spacing: 0.3rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
.text {
  padding-top: 9px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
  }
  .course {
    margin-bottom: 1rem;
  }
}
